.container {
	width: 700px;
	height: 300px;
	border: 1px solid #cccccc;
	margin: auto;
	border-radius: 7px;
	background: #e8eef7;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.fit {
	max-width: 100%;
	max-height: 100%;
} /* You shouldn't need both fit and center, since they are targetting the same element */
.center {
	display: block;
	margin: auto;
}
button {
	border-radius: 4px;
	border: none;
	color: #000000;
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	padding: 20px;
	width: 200px;
	/*transition: all 0.5s;*/ /* Dont think this is doing anything at the moment */
	cursor: pointer; /*nice job changing the cursor!*/
	margin: 5px;
}
#startButton {
	background-color: #7fba5e;
	font-family: monospace;
	font-size: 20px;
}
#buttonA {
	background-color: #4b73ae;
}
#buttonB {
	background-color: #fffd68;
}
#buttonC {
	background-color: #7fba5e;
}/* Good color choices! */
/*.time {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
} */
/* Don't think this `time` class is doing anything at the moment, can be removed */
.question {
	font-family: monospace;
	font-size: 20px;
}
h1 {
	font-family: 'Signika', sans-serif;
	color: #ff4411;
	font-style: italic;
	text-align: center;
	font-size: 40px;
}

/*CSS is pretty solid and semantically clear for the most part.*/
/*I'd recommend reordering the selectors above from least specific to most specific
- General element selectors first
- Then all class selectors
- Then all id selectors*/
/*For athetics, I would recommend changing the timer font as well.  */
