h1 {
	font-family: 'Signika', sans-serif;
	color: #ff4411;
	font-style: italic;
	text-align: center;
	font-size: 40px;
}
.container {
	width: 60%;
	height: inherit;
	border: 1px solid #cccccc;
	margin: auto;
	border-radius: 7px;
	background: #e8eef7;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.fit {
	max-height: 100%;
}
.center {
	display: block;
	margin: auto;
}
.question {
	font-family: monospace;
	font-size: 20px;
}
.score {
	font-family: monospace;
	font-size: 20px;
	padding-bottom: 50px;
	font-weight: bold;
}
.correct-mark {
	color: #15af17;
	font-size: 30px;
}
.incorrect-mark {
	color: #ef1a1a;
	font-size: 30px;
}
button {
	border-radius: 4px;
	border: none;
	color: #000000;
	text-align: center;
	font-family: monospace;
	font-size: 16px;
	padding: 20px;
	width: 200px;
	cursor: pointer;
	margin: 5px;
}
#startButton {
	background-color: #7fba5e;
	font-family: monospace;
	font-size: 20px;
}
#buttonA {
	background-color: #4b73ae;
}
#buttonB {
	background-color: #fffd68;
}
#buttonC {
	background-color: #7fba5e;
}
